In [6]:
import pandas as pd
import matplotlib.pyplot as plt
from scraper_in_pys.mongo import Mongo
import plotly.express as px

In [7]:
price_repo = Mongo(db='trading_bot', collection='stock_price')
month_revenue_repo = Mongo(db='trading_bot', collection='month_revenue')
balance_sheet_repo = Mongo(db='trading_bot', collection='balance_sheet')
income_sheet_repo = Mongo(db='trading_bot', collection='income_sheet')
cash_flow_repo = Mongo(db='trading_bot', collection='cash_flow')

price_data = price_repo.get_data_by_stock_id('1101')
month_revenue_data = month_revenue_repo.get_data_by_stock_id('1101')
income_sheet = income_sheet_repo.get_data_by_stock_id('1101')
balance_sheet = balance_sheet_repo.get_data_by_stock_id('1101')
cash_flow = cash_flow_repo.get_data_by_stock_id('1101')
# all_price_data = price_repo.get_all_data()
# all_month_revenue_data = month_revenue_repo.get_all_data()
# all_income_sheet = income_sheet_repo.get_all_data()
# all_balance_sheet = balance_sheet_repo.get_all_data()
# all_cash_flow = cash_flow_repo.get_all_data()

In [10]:
cash_flow

,stock_id,Timestamp,繼續營業單位稅前淨利（淨損）,本期稅前淨利（淨損）,折舊費用,攤銷費用,透過損益按公允價值衡量金融資產及負債之淨損失（利益）,利息費用,利息收入,採用權益法認列之關聯企業及合資損失（利益）之份額,...,本期綜合損益總額 Total comprehensive income,實際取得或處分子公司股權價格與帳面價值差額 Difference between consideration and carrying amount of subsidiaries acquired or disposed,股份基礎給付 Share-based payments,非控制權益增減 Changes in non-controlling interests,權益增加(減少)總額 Total increase (decrease) in equity,可轉換公司債轉換 Conversion of convertible bonds,對子公司所有權權益變動 Changes in ownership interests in subsidiaries,處分透過其他綜合損益按公允價值衡量之權益工具 Disposal of investments in equity instruments designated at fair value through other comprehensive income,庫藏股註銷 Retirement of treasury share,現金增資 Issue of shares
0,1101,2013Q1,2340789.0,2340789.0,1571884.0,88802.0,-1929.0,528260.0,-49859.0,-151905.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1101,2013Q2,6949563.0,6949563.0,3114925.0,165424.0,-7.0,976601.0,-94890.0,-359542.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1101,2013Q3,13467984.0,13467984.0,4720349.0,242218.0,-2158.0,1439045.0,-150507.0,-651774.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1101,2013Q4,18604456.0,18604456.0,6839020.0,335203.0,12428.0,1910300.0,-198029.0,-585550.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1101,2014Q1,3550846.0,3550846.0,1594505.0,81395.0,5517.0,482195.0,-56227.0,-271861.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,1101,2014Q2,9837043.0,9837043.0,3168197.0,166765.0,-13015.0,952623.0,-127643.0,-637230.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,1101,2014Q3,15933466.0,15933466.0,4755689.0,251738.0,-13519.0,1427905.0,-204319.0,-997683.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,1101,2014Q4,21198720.0,21198720.0,6331499.0,345401.0,-34634.0,1907215.0,-309383.0,-1250088.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,1101,2015Q1,1469867.0,1469867.0,1711428.0,92691.0,74.0,482383.0,-126367.0,-181127.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,1101,2015Q2,4712376.0,4712376.0,3402086.0,182325.0,-18.0,900633.0,-215208.0,-409761.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,1101,2015Q3,5883687.0,5883687.0,5226388.0,293414.0,68561.0,1383484.0,-325186.0,-631435.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,1101,2015Q4,8666015.0,8666015.0,7021678.0,397480.0,1114.0,1873739.0,-430757.0,-737161.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,1101,2016Q1,277847.0,277847.0,1723452.0,106797.0,-140.0,504825.0,-78488.0,-149029.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,1101,2016Q2,3746045.0,3746045.0,3388639.0,214984.0,-250.0,970881.0,-147960.0,-372932.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,1101,2016Q3,7771113.0,7771113.0,5011938.0,306348.0,-15715.0,1440271.0,-223690.0,-658759.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,1101,2016Q4,11515335.0,11515335.0,6587626.0,402921.0,-367641.0,1916837.0,-267182.0,-979609.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,1101,2017Q1,1675274.0,1675274.0,1530197.0,96971.0,109489.0,493775.0,-53090.0,-267764.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,1101,2017Q2,5754330.0,5754330.0,3021203.0,188292.0,107723.0,943342.0,-112498.0,-666243.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,1101,2017Q3,9226556.0,9226556.0,4548698.0,282984.0,103849.0,1420845.0,-171328.0,-996650.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,1101,2017Q4,13824659.0,13824659.0,6080554.0,383239.0,103169.0,1923309.0,-244041.0,-1271111.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,1101,2018Q1,4617588.0,4617588.0,1532636.0,100323.0,-11740.0,538695.0,-77738.0,-414507.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,1101,2018Q2,14440201.0,14440201.0,3082893.0,198323.0,-84200.0,1155023.0,-181574.0,-1074248.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,1101,2018Q3,22775397.0,22775397.0,4623774.0,293251.0,-50276.0,1827585.0,-364654.0,-1663716.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,1101,2018Q4,30544421.0,30544421.0,6129527.0,387194.0,-19306.0,2460302.0,-584482.0,-2263413.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,1101,2019Q1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,1101,2019Q2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,1101,2019Q3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,3575593.0,NaN,NaN,NaN,NaN,NaN
27,1101,2019Q4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,3575593.0,NaN,NaN,NaN,NaN,NaN
28,1101,2020Q1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,1101,2020Q2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30,1101,2020Q3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,2757815.0,29005.0,NaN,NaN,NaN,NaN
31,1101,2020Q4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,2757815.0,29005.0,NaN,NaN,NaN,NaN
32,1101,2021Q1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1542449.0,1542449.0,NaN,NaN,NaN,NaN
33,1101,2021Q2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,2160396.0,2160396.0,NaN,NaN,NaN,NaN
34,1101,2021Q3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,0.0,0.0,NaN,3821793.0,3821793.0,0.0,0.0,NaN,NaN
35,1101,2021Q4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,3838333.0,3838333.0,NaN,NaN,NaN,NaN
36,1101,2022Q1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37,1101,2022Q2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38,1101,2022Q3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,6109477,NaN,NaN,NaN,"(6,696)",NaN
39,1101,2022Q4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,10309477,NaN,NaN,NaN,"(6,696)",4200000
40,1101,2023Q1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41,1101,2023Q2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN

In [14]:


result = income_sheet_repo.collection.find({"本期淨利（淨損）":0})
pd.DataFrame(result)

Empty DataFrame
Columns: []
Index: []

In [10]:
px.line(data_frame=price_data, x='Timestamp', y='close')
px.histogram(data_frame=month_revenue_data, x='Timestamp', y='')

ValueError: Value of 'x' is not the name of a column in 'data_frame'. Expected one of [] but received: Timestamp

In [ ]:

def backtest_strategy(data, signal):
    # Generate trading orders
    data['Position'] = signal(data)

    # Compute returns
    data['Market Returns'] = data['Close'].pct_change()
    data['Strategy Returns'] = data['Market Returns'] * data['Position'].shift()

    # Calculate cumulative returns
    data['Market Cumulative Returns'] = (1 + data['Market Returns']).cumprod()
    data['Strategy Cumulative Returns'] = (1 + data['Strategy Returns']).cumprod()

    # Plotting the graph of strategy vs market returns
    data[['Market Cumulative Returns', 'Strategy Cumulative Returns']].plot(grid=True, kind='line')
    plt.title('Strategy Backtesting')
    plt.show()