In [11]:
import pandas as pd
import datetime as dt
from mongo import Mongo
from FinMind.data import DataLoader
import sys
from dotenv import load_dotenv
import os
def config():
    load_dotenv()


    
config()
stock_id_list = pd.read_csv('上市公司基本資料.csv')['公司代號'].to_list()
stock_id_list

#if life time expired error restart vscode
repo = Mongo('trading_bot',collection='stock_price')



dl = DataLoader()
dl.login_by_token(api_token=os.getenv('FINMIND_API_KEY'))
dl.login(user_id=os.getenv('FINMIND_USER_ID'),password=os.getenv('FINMIND_PASSWORD'))

2023-06-05 21:09:09.873 | INFO     | FinMind.data.finmind_api:login:87 - Login success

True

In [12]:
from FinMind.data import DataLoader
import datetime as dt
import time
import sys

class stock_price_scrapper:
    def  __init__(self, stock_id_list= pd.read_csv('上市公司基本資料.csv')['公司代號'].to_list(), repo = Mongo(db='trading_bot',collection='stock_price')):#, config=__config()):
        self.stock_id_list = stock_id_list
        self.repo = repo
        #login to finmind
        self.dl = DataLoader()
        self.dl.login_by_token(api_token=os.getenv('FINMIND_API_KEY'))
        self.dl.login(user_id=os.getenv('FINMIND_USER_ID'),password=os.getenv('FINMIND_PASSWORD'))

    #     self.__config = config
    #     self.dl.login_by_token(api_token=self.__config.FINMIND_API_KEY)
    #     self.dl.login(user_id=self.__config.FINMIND_USER_ID,password=self.__config.FINMIND_PASSWORD

    def send_to_repo(self,df, repo):
        df.rename(columns={'date':'Timestamp'}, inplace=True)
        for _, row in df.iterrows():
            repo.send_document(row.to_dict())

    def update_data(self):
        repo = Mongo('trading_bot', 'stock_price')

        # Estimate the time to finish
        hour_to_finish = len(stock_id_list) / 600
        print(f'It will take approximately {hour_to_finish} hours to run')
        
        # Get the current day and weekday
        today = dt.datetime.now().strftime('%Y-%m-%d')
        weekday = dt.datetime.now().weekday()

        for stock_id in stock_id_list:
            try:
                stock_id = str(stock_id)
                df = repo.get_data_by_stock_id(str(stock_id))

                # If there is data in MongoDB, add new data
                if not df.empty:
                    latest_date = (pd.to_datetime(df['Timestamp'].iloc[-1]) + pd.DateOffset(days=1)).strftime('%Y-%m-%d')
                    
                    if latest_date == today and weekday < 5:
                        print(f'{stock_id} is up-to-date')
                        continue
                    
                    if weekday >= 5:
                        print("It's the weekend! Exiting the script.")
                        sys.exit()

                    stock_data = dl.taiwan_stock_daily(stock_id=stock_id, start_date=(latest_date))

                # If there is no data in the MongoDB, add data from the beginning of 2013
                else:
                    print(f'Did not find the {stock_id} in the database. Sending data beginning from 2013.')
                    stock_data = dl.taiwan_stock_daily(stock_id=stock_id, start_date='2013-01-01')

                dfs = pd.concat([df,stock_data])
                self.send_to_repo(stock_data, repo)
                print(f'Sent {stock_id} to trading_bot stock_price')

            except Exception as e:
                print(e)
                print('Wait 1 hour and try again')

In [13]:
stock_price_scrapper = stock_price_scrapper()
stock_price_scrapper.update_data()

2023-06-05 21:09:10.454 | INFO     | FinMind.data.finmind_api:login:87 - Login success

It will take approximately 1.4916666666666667 hours to run
Sent 1101 to trading_bot stock_price
Sent 1102 to trading_bot stock_price
Sent 1103 to trading_bot stock_price
Sent 1104 to trading_bot stock_price
Sent 1108 to trading_bot stock_price
Sent 1109 to trading_bot stock_price
Sent 1110 to trading_bot stock_price
Sent 1201 to trading_bot stock_price
Sent 1203 to trading_bot stock_price
Sent 1210 to trading_bot stock_price
Sent 1213 to trading_bot stock_price
Sent 1215 to trading_bot stock_price
Sent 1216 to trading_bot stock_price
Sent 1217 to trading_bot stock_price
Sent 1218 to trading_bot stock_price
Sent 1219 to trading_bot stock_price
Sent 1220 to trading_bot stock_price
Sent 1225 to trading_bot stock_price
Sent 1227 to trading_bot stock_price
Sent 1229 to trading_bot stock_price
Sent 1231 to trading_bot stock_price
Sent 1232 to trading_bot stock_price
Sent 1233 to trading_bot stock_price
Sent 1234 to trading_bot stock_price
Sent 1235 to trading_bot stock_price
Sent 1236 to trading_bot stock_price
Sent 1256 to trading_bot stock_price
Sent 1262 to trading_bot stock_price
Sent 1303 to trading_bot stock_price
Sent 1304 to trading_bot stock_price
Sent 1305 to trading_bot stock_price
Sent 1307 to trading_bot stock_price
Sent 1308 to trading_bot stock_price
Sent 1309 to trading_bot stock_price
Sent 1310 to trading_bot stock_price
Sent 1312 to trading_bot stock_price
Sent 1313 to trading_bot stock_price
Sent 1314 to trading_bot stock_price
Sent 1315 to trading_bot stock_price
Sent 1316 to trading_bot stock_price
Sent 1319 to trading_bot stock_price
Sent 1321 to trading_bot stock_price
Sent 1323 to trading_bot stock_price
Sent 1324 to trading_bot stock_price
Sent 1325 to trading_bot stock_price
Sent 1326 to trading_bot stock_price
Sent 1337 to trading_bot stock_price
Sent 1338 to trading_bot stock_price
Sent 1339 to trading_bot stock_price
Sent 1340 to trading_bot stock_price
Sent 1402 to trading_bot stock_price
Sent 1409 to trading_bot stock_price
Sent 1410 to trading_bot stock_price
Sent 1413 to trading_bot stock_price
Sent 1414 to trading_bot stock_price
Sent 1416 to trading_bot stock_price
Sent 1417 to trading_bot stock_price
Sent 1418 to trading_bot stock_price
Sent 1419 to trading_bot stock_price
Sent 1423 to trading_bot stock_price
Sent 1432 to trading_bot stock_price
Sent 1434 to trading_bot stock_price
Sent 1435 to trading_bot stock_price
Sent 1436 to trading_bot stock_price
Sent 1437 to trading_bot stock_price
Sent 1438 to trading_bot stock_price
Sent 1439 to trading_bot stock_price
Sent 1440 to trading_bot stock_price
Sent 1441 to trading_bot stock_price
Sent 1442 to trading_bot stock_price
Did not find the 1443 in the database. Sending data beginning from 2013.
Sent 1443 to trading_bot stock_price
Did not find the 1444 in the database. Sending data beginning from 2013.
Sent 1444 to trading_bot stock_price
Did not find the 1445 in the database. Sending data beginning from 2013.
Sent 1445 to trading_bot stock_price
Did not find the 1446 in the database. Sending data beginning from 2013.

In [ ]:
repo.get_data_by_stock_id('1103')

,Timestamp,stock_id,Trading_Volume,Trading_money,open,max,min,close,spread,Trading_turnover
0,2013-01-02,1102,2856071,107091777,37.40,37.60,37.35,37.45,0.10,1162
1,2013-01-03,1102,2193238,82180614,37.50,37.50,37.35,37.50,0.05,885
2,2013-01-04,1102,3016732,112535907,37.50,37.55,37.00,37.20,-0.30,1111
3,2013-01-07,1102,2796643,103115041,37.00,37.05,36.65,37.00,-0.20,1046
4,2013-01-08,1102,1535644,56539910,36.95,37.00,36.75,36.85,-0.15,704
...,...,...,...,...,...,...,...,...,...,...
2542,2023-05-29,1102,4356406,191149272,43.60,44.15,43.60,43.85,-0.05,2684
2543,2023-05-30,1102,4436916,195655289,44.05,44.35,43.85,44.05,0.20,2779
2544,2023-05-31,1102,6156105,270990093,44.05,44.35,43.95,43.95,-0.10,1869
2545,2023-06-01,1102,3619825,159601846,44.15,44.30,43.90,44.05,0.10,2317
2546,2023-06-02,1102,4312157,190927420,44.25,44.40,44.10,44.25,0.20,1971

In [53]:
stock_data = dl.taiwan_stock_tick(stock_id=2330, date='2023-05-22')
stock_data

            date stock_id  deal_price  volume             Time  TickType
0     2023-05-22     2330       532.0    1719  09:00:02.428250         0
1     2023-05-22     2330       533.0       5  09:00:02.560288         1
2     2023-05-22     2330       532.0       2  09:00:02.624061         2
3     2023-05-22     2330       533.0       1  09:00:02.898222         1
4     2023-05-22     2330       533.0       4  09:00:02.930319         1
...          ...      ...         ...     ...              ...       ...
4281  2023-05-22     2330       530.0       1  13:24:55.074452         2
4282  2023-05-22     2330       530.0       1  13:24:55.222547         2
4283  2023-05-22     2330       531.0       1  13:24:57.515188         1
4284  2023-05-22     2330       531.0    3254  13:30:00.000000         1
4285  2023-05-22     2330       531.0      19  14:30:00.000000         1

[4286 rows x 6 columns]

In [ ]:
repo = Mongo('trading_bot',collection='stock_price')
repo.get_all_data()

In [10]:
pd.DataFrame(repo.collection.find({}))

,_id,Timestamp,stock_id,Trading_Volume,Trading_money,open,max,min,close,spread,Trading_turnover
0,64730bee20ba70069d744408,2012-01-02,1101,7028883,245403706,35.00,35.05,34.60,34.70,-0.30,1715
1,64730bee20ba70069d744409,2012-01-03,1101,13231764,465373269,34.95,35.40,34.90,35.40,0.70,4470
2,64730bee20ba70069d74440a,2012-01-04,1101,7270291,258736686,35.80,35.80,35.45,35.60,0.20,2577
3,64730bee20ba70069d74440b,2012-01-05,1101,15263996,540492635,35.80,35.80,35.00,35.60,0.00,2949
4,64730bee20ba70069d74440c,2012-01-06,1101,16463826,580971564,35.60,35.65,34.95,34.95,-0.65,3512
...,...,...,...,...,...,...,...,...,...,...,...
118525,6473156e20ba70069d761305,2012-11-26,1324,28008,294732,10.50,10.60,10.50,10.55,-0.05,15
118526,6473156e20ba70069d761306,2012-11-27,1324,14000,147050,10.50,10.60,10.45,10.60,0.05,11
118527,6473156e20ba70069d761307,2012-11-28,1324,17400,182470,10.50,10.55,10.45,10.55,-0.05,13
118528,6473156e20ba70069d761308,2012-11-29,1324,26880,284046,10.60,10.65,10.50,10.60,0.05,17
118529,6473156e20ba70069d761309,2012-11-30,1324,35000,371300,10.50,10.70,10.50,10.65,0.05,18

In [18]:
print(repo.get_data_by_stock_id('0000').empty)

True

In [5]:
import sys
import datetime as dt

def send_to_repo(df, repo):
    df.rename(columns={'date':'Timestamp'}, inplace=True)
    for _, row in df.iterrows():
        repo.send_document(row.to_dict())

def update_data():
    repo = Mongo('trading_bot', 'stock_price')

    # Estimate the time to finish
    hour_to_finish = len(stock_id_list) / 600
    print(f'It will take approximately {hour_to_finish} hours to run')
    
    # Get the current day and weekday
    today = dt.datetime.now().strftime('%Y-%m-%d')
    weekday = dt.datetime.now().weekday()

    for stock_id in stock_id_list:
        print(f'Sending {stock_id} to the database')

        try:
            stock_id = str(stock_id)
            df = repo.get_data_by_stock_id(str(stock_id))

            # If there is data in MongoDB, add new data
            if not df.empty:
                latest_date = (pd.to_datetime(df['Timestamp'].iloc[-1]) + pd.DateOffset(days=1)).strftime('%Y-%m-%d')
                
                if latest_date == today and weekday < 5:
                    print(f'{stock_id} is up-to-date')
                    continue
                
                if weekday >= 5:
                    print("It's the weekend! Exiting the script.")
                    sys.exit()

                stock_data = dl.taiwan_stock_daily(stock_id=stock_id, start_date=(latest_date))

            # If there is no data in the MongoDB, add data from the beginning of 2013
            else:
                print(f'Did not find the {stock_id} in the database. Sending data beginning from 2013.')
                stock_data = dl.taiwan_stock_daily(stock_id=stock_id, start_date='2013-01-01')

            dfs = pd.concat([df,stock_data])
            send_to_repo(stock_data, repo)
            print(f'Sent {stock_id} to trading_bot stock_price')

        except Exception as e:
            print(e)
            print('Wait 1 hour and try again')
            
            try:
                time.sleep(3600)
            except KeyboardInterrupt:
                print("Interrupted by user")
                return

maxlien

In [2]:
repo = Mongo('trading_bot', 'stock_price')
repo.get_data_by_stock_id('2330')

,Timestamp,stock_id,Trading_Volume,Trading_money,open,max,min,close,spread,Trading_turnover
0,2013-01-02,2330,40647121,4021304950,97.6,99.9,97.1,99.6,2.6,14353
1,2013-01-03,2330,44335846,4472175100,100.5,102.0,100.0,101.0,1.4,12616
2,2013-01-04,2330,39502577,3980403777,100.5,101.5,100.0,101.5,0.5,10276
3,2013-01-07,2330,42328657,4237769552,101.0,101.0,99.1,100.5,-1.0,9042
4,2013-01-08,2330,31218717,3100841808,99.6,100.0,98.9,99.7,-0.8,9463
...,...,...,...,...,...,...,...,...,...,...
2540,2023-05-25,2330,68360924,36976525917,542.0,545.0,537.0,543.0,18.0,80930
2541,2023-05-26,2330,104924623,59322536825,568.0,568.0,563.0,566.0,23.0,131612
2542,2023-05-29,2330,58813792,33454887785,574.0,574.0,564.0,568.0,2.0,52250
2543,2023-05-30,2330,47490594,26861389177,566.0,568.0,563.0,566.0,-2.0,32956
2544,2023-05-31,2330,90675529,50573324515,560.0,562.0,551.0,558.0,-8.0,39679

In [17]:
update_data()

It will take approximately 1.4916666666666667 hours to run
Sending 1101 to the database
1101 is up-to-date
Sending 1102 to the database
1102 is up-to-date
Sending 1103 to the database
1103 is up-to-date
Sending 1104 to the database
1104 is up-to-date
Sending 1108 to the database
1108 is up-to-date
Sending 1109 to the database
1109 is up-to-date
Sending 1110 to the database
1110 is up-to-date
Sending 1201 to the database
1201 is up-to-date
Sending 1203 to the database
1203 is up-to-date
Sending 1210 to the database
1210 is up-to-date
Sending 1213 to the database
1213 is up-to-date
Sending 1215 to the database
1215 is up-to-date
Sending 1216 to the database
1216 is up-to-date
Sending 1217 to the database
1217 is up-to-date
Sending 1218 to the database
1218 is up-to-date
Sending 1219 to the database
1219 is up-to-date
Sending 1220 to the database
1220 is up-to-date
Sending 1225 to the database
1225 is up-to-date
Sending 1227 to the database
1227 is up-to-date
Sending 1229 to the database
1229 is up-to-date
Sending 1231 to the database
1231 is up-to-date
Sending 1232 to the database
1232 is up-to-date
Sending 1233 to the database
1233 is up-to-date
Sending 1234 to the database
1234 is up-to-date
Sending 1235 to the database
1235 is up-to-date
Sending 1236 to the database
1236 is up-to-date
Sending 1256 to the database
1256 is up-to-date
Sending 1262 to the database
Sent 1262 to trading_bot stock_price
Sending 1303 to the database
1303 is up-to-date
Sending 1304 to the database
1304 is up-to-date
Sending 1305 to the database
1305 is up-to-date
Sending 1307 to the database
1307 is up-to-date
Sending 1308 to the database
1308 is up-to-date
Sending 1309 to the database
1309 is up-to-date
Sending 1310 to the database
1310 is up-to-date
Sending 1312 to the database
1312 is up-to-date
Sending 1313 to the database
1313 is up-to-date
Sending 1314 to the database
1314 is up-to-date
Sending 1315 to the database
1315 is up-to-date
Sending 1316 to the database
1316 is up-to-date
Sending 1319 to the database
1319 is up-to-date
Sending 1321 to the database
1321 is up-to-date
Sending 1323 to the database
1323 is up-to-date
Sending 1324 to the database
1324 is up-to-date
Sending 1325 to the database
1325 is up-to-date
Sending 1326 to the database
1326 is up-to-date
Sending 1337 to the database
1337 is up-to-date
Sending 1338 to the database
1338 is up-to-date
Sending 1339 to the database
1339 is up-to-date
Sending 1340 to the database
1340 is up-to-date
Sending 1402 to the database
1402 is up-to-date
Sending 1409 to the database
1409 is up-to-date
Sending 1410 to the database
1410 is up-to-date
Sending 1413 to the database
1413 is up-to-date
Sending 1414 to the database
1414 is up-to-date
Sending 1416 to the database
1416 is up-to-date
Sending 1417 to the database
1417 is up-to-date
Sending 1418 to the database
1418 is up-to-date
Sending 1419 to the database
1419 is up-to-date
Sending 1423 to the database
1423 is up-to-date
Sending 1432 to the database
1432 is up-to-date
Sending 1434 to the database
1434 is up-to-date
Sending 1435 to the database
Sent 1435 to trading_bot stock_price
Sending 1436 to the database
1436 is up-to-date
Sending 1437 to the database
1437 is up-to-date
Sending 1438 to the database
1438 is up-to-date
Sending 1439 to the database
1439 is up-to-date
Sending 1440 to the database
1440 is up-to-date
Sending 1441 to the database
1441 is up-to-date
Sending 1442 to the database
1442 is up-to-date
Sending 1443 to the database
1443 is up-to-date
Sending 1444 to the database
1444 is up-to-date
Sending 1445 to the database
1445 is up-to-date
Sending 1446 to the database
1446 is up-to-date
Sending 1447 to the database
1447 is up-to-date
Sending 1449 to the database
1449 is up-to-date
Sending 1451 to the database
1451 is up-to-date
Sending 1452 to the database
1452 is up-to-date
Sending 1453 to the database
1453 is up-to-date
Sending 1454 to the database
1454 is up-to-date
Sending 1455 to the database
1455 is up-to-date
Sending 1456 to the database
1456 is up-to-date
Sending 1457 to the database
1457 is up-to-date
Sending 1459 to the database
1459 is up-to-date
Sending 1460 to the database
1460 is up-to-date
Sending 1463 to the database
1463 is up-to-date
Sending 1464 to the database
1464 is up-to-date
Sending 1465 to the database
1465 is up-to-date
Sending 1466 to the database
1466 is up-to-date
Sending 1467 to the database
1467 is up-to-date
Sending 1468 to the database
1468 is up-to-date
Sending 1469 to the database
Sent 1469 to trading_bot stock_price
Sending 1470 to the database
1470 is up-to-date
Sending 1471 to the database
1471 is up-to-date
Sending 1472 to the database
1472 is up-to-date
Sending 1473 to the database
1473 is up-to-date
Sending 1474 to the database
1474 is up-to-date
Sending 1475 to the database
1475 is up-to-date
Sending 1476 to the database
1476 is up-to-date
Sending 1477 to the database
1477 is up-to-date
Sending 1503 to the database
1503 is up-to-date
Sending 1504 to the database
1504 is up-to-date
Sending 1506 to the database
1506 is up-to-date
Sending 1507 to the database
Sent 1507 to trading_bot stock_price
Sending 1512 to the database
1512 is up-to-date
Sending 1513 to the database
1513 is up-to-date
Sending 1514 to the database
1514 is up-to-date
Sending 1515 to the database
1515 is up-to-date
Sending 1516 to the database
1516 is up-to-date
Sending 1517 to the database
1517 is up-to-date
Sending 1519 to the database
1519 is up-to-date
Sending 1521 to the database
1521 is up-to-date
Sending 1522 to the database
1522 is up-to-date
Sending 1524 to the database
1524 is up-to-date
Sending 1525 to the database
1525 is up-to-date
Sending 1526 to the database
1526 is up-to-date
Sending 1527 to the database
1527 is up-to-date
Sending 1528 to the database
1528 is up-to-date
Sending 1529 to the database
1529 is up-to-date
Sending 1530 to the database
1530 is up-to-date
Sending 1531 to the database
1531 is up-to-date
Sending 1532 to the database
1532 is up-to-date
Sending 1533 to the database
1533 is up-to-date
Sending 1535 to the database
1535 is up-to-date
Sending 1536 to the database
1536 is up-to-date
Sending 1537 to the database
1537 is up-to-date
Sending 1538 to the database
1538 is up-to-date
Sending 1539 to the database
1539 is up-to-date
Sending 1540 to the database
1540 is up-to-date
Sending 1541 to the database
1541 is up-to-date
Sending 1558 to the database
1558 is up-to-date
Sending 1560 to the database
1560 is up-to-date
Sending 1568 to the database
1568 is up-to-date
Sending 1582 to the database
1582 is up-to-date
Sending 1583 to the database
1583 is up-to-date
Sending 1589 to the database
1589 is up-to-date
Sending 1590 to the database
1590 is up-to-date
Sending 1592 to the database
Sent 1592 to trading_bot stock_price
Sending 1603 to the database
1603 is up-to-date
Sending 1604 to the database
1604 is up-to-date
Sending 1605 to the database
1605 is up-to-date
Sending 1608 to the database
1608 is up-to-date
Sending 1609 to the database
1609 is up-to-date
Sending 1611 to the database
1611 is up-to-date
Sending 1612 to the database
1612 is up-to-date
Sending 1613 to the database
Sent 1613 to trading_bot stock_price
Sending 1614 to the database
1614 is up-to-date
Sending 1615 to the database
1615 is up-to-date
Sending 1616 to the database
1616 is up-to-date
Sending 1617 to the database
1617 is up-to-date
Sending 1618 to the database
1618 is up-to-date
Sending 1626 to the database
1626 is up-to-date
Sending 1701 to the database
1701 is up-to-date
Sending 1702 to the database
1702 is up-to-date
Sending 1704 to the database
Sent 1704 to trading_bot stock_price
Sending 1707 to the database
1707 is up-to-date
Sending 1708 to the database
1708 is up-to-date
Sending 1709 to the database
1709 is up-to-date
Sending 1710 to the database
1710 is up-to-date
Sending 1711 to the database
1711 is up-to-date
Sending 1712 to the database
1712 is up-to-date
Sending 1713 to the database
1713 is up-to-date
Sending 1714 to the database
1714 is up-to-date
Sending 1715 to the database
Sent 1715 to trading_bot stock_price
Sending 1717 to the database
1717 is up-to-date
Sending 1718 to the database
1718 is up-to-date
Sending 1720 to the database
1720 is up-to-date
Sending 1721 to the database
1721 is up-to-date
Sending 1722 to the database
1722 is up-to-date
Sending 1723 to the database
1723 is up-to-date
Sending 1724 to the database
Sent 1724 to trading_bot stock_price
Sending 1725 to the database
1725 is up-to-date
Sending 1726 to the database
1726 is up-to-date
Sending 1727 to the database
1727 is up-to-date
Sending 1729 to the database
Sent 1729 to trading_bot stock_price
Sending 1730 to the database
1730 is up-to-date
Sending 1731 to the database
1731 is up-to-date
Sending 1732 to the database
1732 is up-to-date
Sending 1733 to the database
1733 is up-to-date
Sending 1734 to the database
1734 is up-to-date
Sending 1735 to the database
1735 is up-to-date
Sending 1736 to the database
1736 is up-to-date
Sending 1737 to the database
1737 is up-to-date
Sending 1762 to the database
1762 is up-to-date
Sending 1773 to the database
1773 is up-to-date
Sending 1783 to the database
1783 is up-to-date
Sending 1786 to the database
1786 is up-to-date
Sending 1789 to the database
1789 is up-to-date
Sending 1802 to the database
1802 is up-to-date
Sending 1805 to the database
1805 is up-to-date
Sending 1806 to the database
1806 is up-to-date
Sending 1808 to the database
1808 is up-to-date
Sending 1809 to the database
1809 is up-to-date
Sending 1810 to the database
1810 is up-to-date
Sending 1817 to the database
1817 is up-to-date
Sending 1903 to the database
1903 is up-to-date
Sending 1904 to the database
1904 is up-to-date
Sending 1905 to the database
1905 is up-to-date
Sending 1906 to the database
1906 is up-to-date
Sending 1907 to the database
1907 is up-to-date
Sending 1909 to the database
1909 is up-to-date
Sending 2002 to the database
2002 is up-to-date
Sending 2006 to the database
2006 is up-to-date
Sending 2007 to the database
2007 is up-to-date
Sending 2008 to the database
2008 is up-to-date
Sending 2009 to the database
2009 is up-to-date
Sending 2010 to the database
2010 is up-to-date
Sending 2012 to the database
2012 is up-to-date
Sending 2013 to the database
2013 is up-to-date
Sending 2014 to the database
2014 is up-to-date
Sending 2015 to the database
2015 is up-to-date
Sending 2017 to the database
2017 is up-to-date
Sending 2020 to the database
2020 is up-to-date
Sending 2022 to the database
2022 is up-to-date
Sending 2023 to the database
2023 is up-to-date
Sending 2024 to the database
2024 is up-to-date
Sending 2025 to the database
2025 is up-to-date
Sending 2027 to the database
2027 is up-to-date
Sending 2028 to the database
2028 is up-to-date
Sending 2029 to the database
2029 is up-to-date
Sending 2030 to the database
2030 is up-to-date
Sending 2031 to the database
2031 is up-to-date
Sending 2032 to the database
2032 is up-to-date
Sending 2033 to the database
2033 is up-to-date
Sending 2034 to the database
2034 is up-to-date
Sending 2038 to the database
2038 is up-to-date
Sending 2049 to the database
2049 is up-to-date
Sending 2059 to the database
2059 is up-to-date
Sending 2062 to the database
2062 is up-to-date
Sending 2069 to the database
2069 is up-to-date
Sending 2101 to the database
2101 is up-to-date
Sending 2102 to the database
2102 is up-to-date
Sending 2103 to the database
2103 is up-to-date
Sending 2104 to the database
2104 is up-to-date
Sending 2105 to the database
2105 is up-to-date
Sending 2106 to the database
2106 is up-to-date
Sending 2107 to the database
2107 is up-to-date
Sending 2108 to the database

KeyboardInterrupt:

In [19]:
repo.get_data_by_stock_id('1101')

,Timestamp,stock_id,Trading_Volume,Trading_money,open,max,min,close,spread,Trading_turnover
0,2012-01-02,1101,7028883,245403706,35.00,35.05,34.60,34.70,-0.30,1715
1,2012-01-03,1101,13231764,465373269,34.95,35.40,34.90,35.40,0.70,4470
2,2012-01-04,1101,7270291,258736686,35.80,35.80,35.45,35.60,0.20,2577
3,2012-01-05,1101,15263996,540492635,35.80,35.80,35.00,35.60,0.00,2949
4,2012-01-06,1101,16463826,580971564,35.60,35.65,34.95,34.95,-0.65,3512
...,...,...,...,...,...,...,...,...,...,...
12704,2023-05-25,1101,30414582,1146187680,37.70,38.05,37.50,38.05,0.20,13036
12705,2023-05-26,1101,21233325,802585508,37.80,38.00,37.60,38.00,-0.05,9510
12706,2023-05-29,1101,26028333,987145356,38.05,38.15,37.75,38.15,0.15,11969
12707,2023-05-29,1101,26028333,987145356,38.05,38.15,37.75,38.15,0.15,11969
12708,2023-05-30,1101,28867665,1100035776,38.10,38.30,37.90,38.30,0.15,12611