In [18]:
from finlab import data
import finlab
from dotenv import load_dotenv
import os
import datetime

def config():
    load_dotenv()


    
config()

finlab.login(str(os.getenv('FINLAB_API')))

輸入成功!

In [19]:
roe = data.get('fundamental_features:ROE稅後')
price_df = data.get('etl:adj_open')

Daily usage: 16.1 / 500 MB - etl:adj_open

In [20]:
cleaned_roe = roe.dropna(axis=1)

In [4]:
price_df = data.get('etl:adj_open')
price_df

Daily usage: 17.5 / 500 MB - etl:adj_open

symbol,0015,0050,0051,0052,0053,0054,0055,0056,0057,0058,...,9944,9945,9946,9949,9950,9951,9955,9958,9960,9962
date,,,,,,,,,,,,,,,,,,,,,
2013-01-02,7.55,54.000000,25.750000,32.300000,23.300000,19.500000,11.400000,22.830000,31.590000,32.45,...,16.400000,60.500000,19.000000,20.300000,19.300000,41.000000,29.400000,13.100000,17.250000,12.400000
2013-01-03,7.64,54.900000,26.200000,32.760000,23.290000,19.400000,11.530000,23.050000,32.260000,32.29,...,16.600000,63.400000,19.100000,20.400000,19.300000,42.300000,29.300000,13.700000,17.400000,13.000000
2013-01-04,7.60,54.850000,26.120000,32.400000,23.120000,19.400000,11.480000,23.060000,32.040000,32.20,...,16.650000,66.900000,19.000000,20.200000,19.300000,41.900000,28.900000,13.300000,17.300000,13.050000
2013-01-07,7.60,54.550000,25.900000,32.120000,22.900000,19.350000,11.380000,22.950000,NaN,31.94,...,16.600000,66.800000,19.100000,20.300000,19.400000,41.600000,28.700000,13.250000,17.300000,12.800000
2013-01-08,7.60,54.000000,25.840000,32.000000,22.900000,19.210000,11.390000,22.950000,31.710000,32.06,...,17.250000,65.600000,19.550000,20.000000,19.400000,41.500000,29.000000,13.600000,17.100000,13.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-12-25,NaN,150.576957,54.571764,136.612141,72.902401,35.397279,22.781432,43.590288,82.072648,NaN,...,23.937683,70.829141,31.935945,13.043859,13.241307,120.306749,20.297030,144.214988,NaN,14.296107
2020-12-28,NaN,150.513743,54.685825,135.973767,72.837714,35.256966,22.794339,43.605060,82.072648,NaN,...,23.829613,70.481940,31.837072,13.153471,13.175430,121.397967,20.449257,142.309063,39.199986,14.121941
2020-12-29,NaN,151.778033,55.737719,137.888890,73.290524,35.588616,22.858876,43.959572,82.384909,NaN,...,23.991719,70.481940,31.738199,13.043859,13.175430,120.033944,20.652228,140.403138,43.056759,14.092914
2020-12-30,NaN,151.714818,55.623659,137.888890,73.613960,35.588616,22.858876,43.870944,82.384909,NaN,...,24.045754,70.481940,31.837072,13.043859,13.175430,119.488336,20.347772,139.767830,42.361275,14.281593
2020-12-31,NaN,154.433042,55.851780,141.399950,74.066770,35.920266,23.465520,44.033429,83.894172,NaN,...,24.153825,70.829141,31.935945,13.043859,13.175430,118.533520,20.297030,139.132521,44.637404,14.658952

In [25]:
cleaned_roe

symbol,1101,1102,1103,1104,1108,1109,1110,1201,1203,1210,...,9944,9945,9946,9949,9950,9951,9955,9958,9960,9962
date,,,,,,,,,,,,,,,,,,,,,
2013-Q1,1.375582,1.315619,0.363729,1.335893,1.491161,0.503333,0.711176,2.220631,2.494993,1.663901,...,1.884941,4.011470,12.474313,0.283162,3.340549,7.975053,0.277945,4.038382,1.071308,4.077051
2013-Q2,2.672149,2.863868,-0.280395,2.469246,0.978585,1.032664,0.200647,1.885486,1.936688,-0.371936,...,2.026018,7.713253,9.343808,-0.108335,3.112699,9.782397,-3.976867,3.039258,3.011556,-0.605382
2013-Q3,3.758506,1.342291,1.073968,1.746665,1.212328,0.204747,1.269804,2.198067,2.575627,2.468540,...,0.621189,8.900753,15.612440,-0.733193,0.497765,10.299670,3.798040,2.976693,2.141928,2.054742
2013-Q4,2.658697,2.658116,5.631276,2.545302,0.084243,2.875187,-0.465047,0.000472,0.573217,8.909722,...,0.166716,77.392070,3.739016,2.216074,0.972063,10.553989,-2.797807,-0.062696,2.317719,0.884398
2014-Q1,1.789978,1.290929,-0.159117,1.635522,1.541725,1.491392,0.775516,2.046571,2.552402,1.923325,...,1.895346,1.984022,1.246598,0.595180,1.913013,10.698695,0.524070,1.701889,0.029160,1.318520
2014-Q2,3.158575,2.781212,0.227337,3.000525,3.369338,2.070921,0.412588,1.187213,1.811030,1.980999,...,1.461279,0.990297,-2.024819,-0.532498,4.192703,8.292013,0.055455,1.033024,1.607350,2.099598
2014-Q3,3.279737,1.571547,0.948389,2.391406,1.724550,0.335816,0.714031,-0.762477,0.971592,2.776949,...,0.831817,6.137391,-0.485606,-1.447083,3.724623,5.502856,0.209369,-0.374507,1.502727,3.682924
2014-Q4,2.554910,1.699176,-0.716591,2.200580,1.555479,0.883164,-0.291740,-5.326395,1.839251,-1.478581,...,0.593455,5.363952,2.543123,1.478862,1.152748,10.688517,0.825966,0.453679,1.477092,-5.459330
2015-Q1,0.601114,0.937669,-0.966451,1.641420,3.302596,0.021468,0.404019,-2.919565,3.870044,0.447717,...,1.603284,3.810804,0.644556,-1.606037,1.404471,5.364104,0.369810,0.189441,0.634899,-3.676078
2015-Q2,1.742001,1.860278,0.644758,2.195610,3.259359,-0.443763,0.280376,-3.624837,2.177009,0.730002,...,1.337458,5.801126,1.041997,-2.506763,1.031750,9.691329,-1.532345,0.075478,1.423481,0.177425
2015-Q3,0.641225,-0.106259,-2.023725,1.878031,1.992019,-1.087981,0.705189,-3.696206,3.032319,2.008121,...,0.585000,13.991627,9.676895,-3.161322,2.867952,11.089119,-1.015446,4.035869,-0.541219,-2.207499
2015-Q4,1.426808,0.334866,4.250036,2.960292,1.340689,0.687261,0.257329,-7.773436,-0.234580,-0.705323,...,-1.010610,4.905697,6.301330,-1.315804,0.218199,9.355837,-3.401852,3.551576,1.376348,-1.160302
2016-Q1,0.060939,0.129224,-1.348415,2.119545,2.152539,-0.521185,2.467634,-1.575469,2.355146,3.062051,...,1.317321,6.854278,3.732588,-1.003058,0.270282,8.595597,-0.443611,0.324333,0.029204,1.092193
2016-Q2,1.796833,0.932776,-0.464126,3.129096,2.036326,1.221469,0.211985,-3.492390,2.548137,3.285687,...,1.465946,1.615806,2.001179,-1.001242,1.147219,8.428276,1.096263,2.011220,0.334951,2.028987
2016-Q3,2.247007,0.835960,1.017181,2.162249,1.667409,0.518153,-0.100111,-0.859503,3.331568,3.773549,...,0.192882,6.426994,0.705377,-2.144528,-0.263489,7.747643,-0.909851,-0.340148,0.694933,0.806219
2016-Q4,1.881750,1.415317,0.716119,2.953548,0.871528,1.607019,-0.218996,-7.995961,3.990117,2.857209,...,-0.278855,8.089130,2.117710,0.033371,1.570079,10.112231,-5.655898,0.814654,-6.039363,3.173158
2017-Q1,0.789102,0.104497,-0.662850,1.703072,0.394747,0.705308,0.268494,2.637612,3.083921,3.107678,...,0.469615,1.404328,1.899681,-1.411077,-2.704144,6.619779,-1.283701,0.445143,1.394783,4.122800
2017-Q2,2.096715,1.412460,0.127823,2.382397,0.211107,2.860760,-0.385468,-0.385162,3.320872,1.840987,...,1.353565,2.944042,0.027561,-1.306877,-2.137749,7.295627,-2.000144,0.084523,1.767848,-0.942681
2017-Q3,1.801383,1.586735,0.395662,2.104395,-0.166142,2.375772,0.179391,0.261015,4.478787,3.712009,...,0.237325,7.126241,1.073841,-1.404235,-5.048537,6.866639,0.442346,0.937471,1.775258,0.767548
2017-Q4,2.225854,1.612073,5.196807,2.295737,-2.751084,4.983603,0.618760,9.559244,1.023717,4.185824,...,-0.222364,13.665730,5.190182,0.500948,-8.872038,7.402648,-1.441421,0.467485,1.409982,2.105553
2018-Q1,1.799804,1.640695,0.815313,0.013569,-0.134719,2.465823,0.179179,1.626154,2.686781,4.161819,...,0.472032,4.701340,1.087365,-1.194057,-0.986012,7.217640,-2.311241,0.284104,0.954474,2.046505
2018-Q2,4.645435,3.540833,1.026095,2.299544,-0.045837,3.143171,0.468969,-2.274696,3.177699,1.720798,...,1.486386,6.299990,0.790025,-1.404905,-8.284852,3.749526,-1.568343,0.142250,3.306507,2.954825
2018-Q3,3.671060,2.637461,2.467953,1.944136,-0.951368,5.214944,0.412843,13.732016,3.813016,2.478991,...,-0.984944,5.971822,1.349182,-1.742121,-8.064430,4.326864,-9.705608,0.181123,1.269591,3.549325
2018-Q4,2.928806,1.884000,-1.900737,1.674853,-3.514404,6.585288,-0.294641,-0.620103,2.746560,2.622637,...,-0.403132,1.495608,4.033525,-0.115023,-9.279924,7.211401,-1.078388,-0.303867,2.457921,0.916562
2019-Q1,2.075878,2.344535,0.694483,0.868407,-0.705453,2.584590,0.347324,16.461887,3.010811,2.184333,...,0.928190,4.610052,9.677700,-1.247680,-5.924819,5.278210,0.307972,0.132060,1.620903,-1.211195
2019-Q2,3.736785,4.640582,0.166287,1.676000,0.335015,4.766396,-0.055468,0.674467,2.985053,3.042887,...,0.496852,5.932885,6.615428,-1.323304,-1.983404,4.818589,1.268578,0.011353,1.988672,1.083297
2019-Q3,3.551863,3.351312,3.550072,1.365817,0.345382,5.262220,0.163414,1.777181,2.835738,4.130839,...,-0.881461,5.651801,5.752400,-1.999010,-3.740169,4.585531,0.438975,10.906938,1.141288,0.190694
2019-Q4,3.301359,3.167398,-0.750479,2.438221,1.089996,5.423683,-0.067770,0.838261,3.058317,3.265908,...,-1.929429,-1.257196,4.763687,0.518906,-3.210787,5.815332,-1.426466,2.071536,1.338783,1.199025
2020-Q1,1.678958,0.674418,-0.951347,0.269237,2.160669,1.582163,-0.365140,0.391758,3.391573,3.149460,...,1.428627,3.961267,2.121340,-2.985173,-7.153645,2.668427,-2.900988,1.879565,1.684064,-1.436584
2020-Q2,4.281615,3.505885,0.742736,2.489909,3.054209,3.985560,0.116576,1.321435,2.241164,4.034445,...,0.350069,1.942595,0.321733,-1.315568,-11.521705,2.660829,-3.457038,3.957127,1.879714,-0.101476
2020-Q3,4.247464,3.772881,2.852935,2.229533,2.175122,4.406719,0.275413,3.348089,3.448670,5.181878,...,1.645891,4.114386,0.572313,-1.525496,-6.972607,5.421036,1.280514,5.729634,3.729822,0.403478

In [26]:
cleaned_roe.index.to_list()

['2013-Q1',
 '2013-Q2',
 '2013-Q3',
 '2013-Q4',
 '2014-Q1',
 '2014-Q2',
 '2014-Q3',
 '2014-Q4',
 '2015-Q1',
 '2015-Q2',
 '2015-Q3',
 '2015-Q4',
 '2016-Q1',
 '2016-Q2',
 '2016-Q3',
 '2016-Q4',
 '2017-Q1',
 '2017-Q2',
 '2017-Q3',
 '2017-Q4',
 '2018-Q1',
 '2018-Q2',
 '2018-Q3',
 '2018-Q4',
 '2019-Q1',
 '2019-Q2',
 '2019-Q3',
 '2019-Q4',
 '2020-Q1',
 '2020-Q2',
 '2020-Q3']

In [38]:
import pandas as pd

def buy_top_5_roe(df):
    """
    Given a DataFrame of ROE values for each quarter, select the top 5 symbols by ROE for each quarter.
    
    Parameters:
        df (DataFrame): The DataFrame containing ROE values, indexed by date and with stock symbols as columns.
        
    Returns:
        top_5_dict (dict): A dictionary with quarters as keys and lists of top 5 stock symbols as values.
    """
    # Initialize an empty dictionary to store the top 5 stocks for each quarter
    top_5_dict = {}
    
    # Loop through each quarter in the DataFrame index
    for quarter in df.index.to_list():
        # Select the data for that quarter
        quarter_data = df.loc[quarter]
        
        # Sort the data in descending order to get stocks with highest ROE first
        sorted_data = quarter_data.sort_values(ascending=False)
        
        # Select the top 5 stock symbols
        top_5_stocks = sorted_data.head(5).index.tolist()
        
        # Store the top 5 stocks in the dictionary
        top_5_dict[quarter] = top_5_stocks
    
    return top_5_dict


buy_top_5_roe(cleaned_roe).keys()

dict_keys(['2013-Q1', '2013-Q2', '2013-Q3', '2013-Q4', '2014-Q1', '2014-Q2', '2014-Q3', '2014-Q4', '2015-Q1', '2015-Q2', '2015-Q3', '2015-Q4', '2016-Q1', '2016-Q2', '2016-Q3', '2016-Q4', '2017-Q1', '2017-Q2', '2017-Q3', '2017-Q4', '2018-Q1', '2018-Q2', '2018-Q3', '2018-Q4', '2019-Q1', '2019-Q2', '2019-Q3', '2019-Q4', '2020-Q1', '2020-Q2', '2020-Q3'])

In [41]:
import pandas as pd

def buy_top_5_roe(df):
    """
    Given a DataFrame of ROE values for each quarter, select the top 5 symbols by ROE for each quarter.
    
    Parameters:
        df (DataFrame): The DataFrame containing ROE values, indexed by date and with stock symbols as columns.
        
    Returns:
        top_5_dict (dict): A dictionary with quarters as keys and lists of top 5 stock symbols as values.
    """
    # Initialize an empty dictionary to store the top 5 stocks for each quarter
    top_5_dict = {}
    
    # Loop through each quarter in the DataFrame index
    for quarter in df.index.to_list():
        # Select the data for that quarter
        quarter_data = df.loc[quarter]
        
        # Sort the data in descending order to get stocks with highest ROE first
        sorted_data = quarter_data.sort_values(ascending=False)
        
        # Select the top 5 stock symbols
        top_5_stocks = sorted_data.head(5).index.tolist()
        
        # Store the top 5 stocks in the dictionary
        top_5_dict[quarter] = top_5_stocks
    
    return top_5_dict

def quarter_to_start_date(quarter):
    """
    Convert a quarter string 'YYYY-QX' to the starting date of that quarter 'YYYY-MM-DD'.
    """
    year, qtr = quarter.split('-Q')
    start_month = {'1': '01-01', '2': '04-01', '3': '07-01', '4': '10-01'}
    if qtr in start_month:
        return f"{year}-{start_month[qtr]}"
    else:
        raise ValueError("Invalid quarter format")



def quarter_to_end_date(quarter):
    """
    Convert a quarter string 'YYYY-QX' to the ending date of that quarter 'YYYY-MM-DD'.
    """
    year, qtr = quarter.split('-Q')
    end_month = {'1': '03-31', '2': '06-30', '3': '09-30', '4': '12-31'}
    if qtr in end_month:
        return f"{year}-{end_month[qtr]}"
    else:
        raise ValueError("Invalid quarter format")

def calculate_profit(price_data, roe_data):    
    profits = {}
    previous_quarter_stocks = []
    previous_quarter = None
    top_5_roe_dict = buy_top_5_roe(roe_data)

    for quarter in top_5_roe_dict.keys():
        current_quarter_stocks = top_5_roe_dict[quarter]
        profit = 0

        # Convert quarter to actual date
        start_date = quarter_to_start_date(quarter)
        end_date = quarter_to_end_date(quarter)

        # Calculate profit for stocks held from previous quarter
        for stock in previous_quarter_stocks:
            if stock in price_data:
                start_price = price_data[stock].get(start_date, 0)
                end_price = price_data[stock].get(end_date, 0)
                profit += end_price - start_price
        
        # Update for the next iteration
        previous_quarter = quarter
        previous_quarter_stocks = current_quarter_stocks
        profits[quarter] = profit

    return profit

    # Now 'profits' contains the profit for each quarter.

In [42]:
calculate_profit(price_data=price_df, roe_data=cleaned_roe)

nan

In [17]:
for i in a:
    print(i[:4])

2013
2013
2013
2013
2014
2014
2014
2014
2015
2015
2015
2015
2016
2016
2016
2016
2017
2017
2017
2017
2018
2018
2018
2018
2019
2019
2019
2019
2020
2020
2020

In [12]:
price_df['0050'].loc[price_df.index=='2013-01-02']

date
2013-01-02    54.0
Name: 0050, dtype: float64

In [27]:
price_df.index[0]

Timestamp('2013-01-02 00:00:00')

In [ ]:
#for loop through every quarter in roe_date['date]
# each time

In [ ]:
import time
class quarter_backtest:
    def __init__(self, quarter_data, price_data):
            self.start_year = price_data['date'].min().year
            self.start_season = 1
            end_year = quarter_data['date'].iloc[0][:4]
            if self.start_year < 2013 or self.start_year < 0:
                raise ValueError("start_year 必須大於等於 2013 並且不能為負數")
            if self.end_year < self.start_year or self.end_year < 0:
                raise ValueError("end_year 必須大於等於 start_year 並且不能為負數")
            if self.end_year > datetime.datetime.now().year:
                print('end_year 強制設定為今年')
                self.end_year = datetime.datetime.now().year
                self.year_now = self.end_year
            else:
                self.end_year = end_year
                self.year_now = datetime.datetime.now().year


            
            self.year_range = list(range(self.start_year, self.end_year+1))
            self.season_range = list(range(1, 5))

            self.quarter_data = quarter_data
            self.price_data = price_data




    def backtest(self): 

            # Calculate the newInfo_days for 財報發佈日 
            # func 2 is related
            mar_newInfo_day_B = self.get_newInfo_day(1 + self.end_year, 3, 31)
            mar_newInfo_day = self.get_newInfo_day(self.end_year, 3, 31)
            may_newInfo_day = self.get_newInfo_day(self.end_year, 5, 15)
            aug_newInfo_day = self.get_newInfo_day(self.end_year, 8, 14)
            nov_newInfo_day = self.get_newInfo_day(self.end_year, 11, 14)


            headers = {'User-Agent': 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10_10_1) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/39.0.2171.95 Safari/537.36'}

            # Loop through each year and quarter to retrieve income statements


            #we skip so first quarter so that we can avoid 
            first_quarter =True
            
            for year in self.year_range:

                last_quarter
                print(f'{year}年開爬!!')

                #if start_season != 1 start from the start_season
                if self.start_season !=1 and year == self.start_year:
                    #change the season to start from start_season

                    self.season_range = list(range(self.start_season, 5))
                else:
                    #no need to change season range
                    pass
                for season in self.season_range:
                    if first_quarter:
                        first_quarter =False
                        pass


                    if year == self.end_year:
                        if (year == self.year_now - 1) & (season == 4):
                                if datetime.datetime.now() < mar_newInfo_day_B:
                                    print('已爬至歷史最新資料，正常結束。 產出主鍵：年、季度。')
                                    
                                    return self.balance_sheet_dfs, self.income_statements_dfs, self.cash_flow_dfs
                        
                        elif year == self.year_now:
                            checkTool = (mar_newInfo_day, may_newInfo_day, aug_newInfo_day, nov_newInfo_day)
                            for i, newInfo_day in enumerate(checkTool):
                                if (datetime.datetime.now() < newInfo_day) & (season >= i):
                                    print('已爬至歷史最新資料，正常結束。 產出主鍵：年、季度。')

                                    return self.balance_sheet_dfs, self.income_statements_dfs, self.cash_flow_dfs
                    ### main part ###    
                    # func 3 is related
                    self.backtest()
                    ### main part ###
                
                    if (year != self.start_year) & (season == 1):
                        time.sleep(random.uniform(4, 9))
                        print('每逢第一季，休息N秒')
                        
            print('正常結束，無錯誤。 產出主鍵：年、季度。')
            
            
            return self.balance_sheet_dfs, self.income_statements_dfs, self.cash_flow_dfs
    
    # func 2
    def get_newInfo_day(self, y, m, d):
        newInfo_day = datetime.datetime(y, m, d)
        if newInfo_day.weekday() == 5:  # Saturday
            newInfo_day += datetime.timedelta(days=2)
        elif newInfo_day.weekday() == 6:  # Sunday
            newInfo_day += datetime.timedelta(days=1)
        return newInfo_day
    
    def calculate_profit(self,buy_price, sell_price, shares=100):
        """
        Calculate the profit made from buying and selling a stock.

        Parameters:
            buy_price (float): The price at which the stock was bought.
            sell_price (float): The price at which the stock was sold.
            shares (int): The number of shares bought and sold.

        Returns:
            float: The profit from the transaction.
        """
        return (sell_price - buy_price) * shares

    def buy_top_5_roe_and_calculate_profit(self, roe_df, prices_df, year, quarter):
        """
        Given a DataFrame of ROE values and a DataFrame of stock prices for each quarter,
        select the top 5 symbols by ROE for each quarter and calculate the profit gained.

        Parameters:
            roe_df (DataFrame): The DataFrame containing ROE values, indexed by date and with stock symbols as columns.
            prices_df (DataFrame): The DataFrame containing opening and closing prices for stocks, indexed by date.
            
        Returns:
            profits_dict (dict): A dictionary with quarters as keys and total profit for top 5 stocks as values.
        """



        top_5_dict = {}
        profits_dict = {}

        quarter_data = roe_df.loc[quarter]
        sorted_data = quarter_data.sort_values(ascending=False)
        top_5_stocks = sorted_data.head(5).index.tolist()
        top_5_dict[quarter] = top_5_stocks
        
        #int(quarter[-1])-1 == 第幾個quarter
        actual_date = info_days[int(quarter[-1])-1]
        if (int(quarter[-1])) ==4:
            next_date =info_days_next_year
        else:
            next_date = info_days[int(quarter[-1])]

        # Calculate profits for the top 5 stocks
        profit_sum = 0
        for symbol in top_5_stocks:
            # Assume prices_df has 'open_price' and 'close_price' columns for each stock symbol
            buy_price = prices_df[str(symbol)].loc[price_df.index==actual_date]
            sell_price = prices_df[str(symbol)].loc[price_df.index==next_date]
            profit = self.calculate_profit(buy_price, sell_price)
            profit_sum += profit
        
        profits_dict[quarter] = profit_sum

        return profits_dict

In [23]:
def calculate_profit(buy_price, sell_price, shares=100):
    """
    Calculate the profit made from buying and selling a stock.

    Parameters:
        buy_price (float): The price at which the stock was bought.
        sell_price (float): The price at which the stock was sold.
        shares (int): The number of shares bought and sold.

    Returns:
        float: The profit from the transaction.
    """
    return (sell_price - buy_price) * shares

def buy_top_5_roe_and_calculate_profit(roe_df, prices_df):
    """
    Given a DataFrame of ROE values and a DataFrame of stock prices for each quarter,
    select the top 5 symbols by ROE for each quarter and calculate the profit gained.

    Parameters:
        roe_df (DataFrame): The DataFrame containing ROE values, indexed by date and with stock symbols as columns.
        prices_df (DataFrame): The DataFrame containing opening and closing prices for stocks, indexed by date.
        
    Returns:
        profits_dict (dict): A dictionary with quarters as keys and total profit for top 5 stocks as values.
    """
    top_5_dict = {}
    profits_dict = {}

    for quarter in roe_df.index:
        quarter_data = roe_df.loc[quarter]
        sorted_data = quarter_data.sort_values(ascending=False)
        top_5_stocks = sorted_data.head(5).index.tolist()
        top_5_dict[quarter] = top_5_stocks
        
        info_days = [get_newInfo_day(int(quarter[:4]), 3, 31),
            get_newInfo_day(int(quarter[:4]), 5, 15),
            get_newInfo_day(int(quarter[:4]), 8, 14),
            get_newInfo_day(int(quarter[:4]), 11, 14)]
        
        info_days_next_year = get_newInfo_day(int(quarter[:4])+1, 3, 31)
        
        #int(quarter[-1])-1 == 第幾個quarter
        actual_date = info_days[int(quarter[-1])-1]
        if (int(quarter[-1])) ==4:
             next_date =info_days_next_year
        else:
             next_date = info_days[int(quarter[-1])]

        # Calculate profits for the top 5 stocks
        profit_sum = 0
        for symbol in top_5_stocks:
            # Assume prices_df has 'open_price' and 'close_price' columns for each stock symbol
            buy_price = prices_df[str(symbol)].loc[price_df.index==actual_date]
            sell_price = prices_df[str(symbol)].loc[price_df.index==next_date]
            profit = calculate_profit(buy_price, sell_price)
            profit_sum += profit
        
        profits_dict[quarter] = profit_sum

    return profits_dict
def get_newInfo_day(y, m, d):
        newInfo_day = datetime.datetime(y, m, d)
        if newInfo_day.weekday() == 5:  # Saturday
            newInfo_day += datetime.timedelta(days=2)
        elif newInfo_day.weekday() == 6:  # Sunday
            newInfo_day += datetime.timedelta(days=1)
        return newInfo_day

# Example usage:
# Assume 'cleaned_roe' is your DataFrame with ROE data and 'stock_prices' is the DataFrame with price data.
profits = buy_top_5_roe_and_calculate_profit(cleaned_roe, price_df)

In [24]:
profits

{'2013-Q1': date
 2013-04-01   NaN
 2013-05-15   NaN
 Name: 5324, dtype: float64,
 '2013-Q2': date
 2013-05-15   NaN
 2013-08-14   NaN
 Name: 2008, dtype: float64,
 '2013-Q3': date
 2013-08-14   NaN
 2013-11-14   NaN
 Name: 5364, dtype: float64,
 '2013-Q4': date
 2013-11-14   NaN
 2014-03-31   NaN
 Name: 2915, dtype: float64,
 '2014-Q1': date
 2014-03-31   NaN
 2014-05-15   NaN
 Name: 2408, dtype: float64,
 '2014-Q2': date
 2014-05-15   NaN
 2014-08-14   NaN
 Name: 8941, dtype: float64,
 '2014-Q3': date
 2014-08-14   NaN
 2014-11-14   NaN
 Name: 8941, dtype: float64,
 '2014-Q4': date
 2014-11-14   NaN
 2015-03-31   NaN
 Name: 5455, dtype: float64,
 '2015-Q1': date
 2015-03-31   NaN
 2015-05-15   NaN
 Name: 1516, dtype: float64,
 '2015-Q2': date
 2015-05-15   NaN
 2015-08-14   NaN
 Name: 2316, dtype: float64,
 '2015-Q3': date
 2015-08-14   NaN
 2015-11-16   NaN
 Name: 2388, dtype: float64,
 '2015-Q4': date
 2015-11-16   NaN
 2016-03-31   NaN
 Name: 6186, dtype: float64,
 '2016-Q1': date
 2016-03-31   NaN
 2016-05-16   NaN
 Name: 5381, dtype: float64,
 '2016-Q2': date
 2016-05-16   NaN
 2016-08-15   NaN
 Name: 9929, dtype: float64,
 '2016-Q3': date
 2016-08-15   NaN
 2016-11-14   NaN
 Name: 8085, dtype: float64,
 '2016-Q4': date
 2016-11-14   NaN
 2017-03-31   NaN
 Name: 3043, dtype: float64,
 '2017-Q1': date
 2017-03-31   NaN
 2017-05-15   NaN
 Name: 3040, dtype: float64,
 '2017-Q2': date
 2017-05-15   NaN
 2017-08-14   NaN
 Name: 6222, dtype: float64,
 '2017-Q3': date
 2017-08-14   NaN
 2017-11-14   NaN
 Name: 6150, dtype: float64,
 '2017-Q4': date
 2017-11-14   NaN
 2018-04-02   NaN
 Name: 3064, dtype: float64,
 '2018-Q1': date
 2018-04-02   NaN
 2018-05-15   NaN
 Name: 3043, dtype: float64,
 '2018-Q2': date
 2018-05-15   NaN
 2018-08-14   NaN
 Name: 5348, dtype: float64,
 '2018-Q3': date
 2018-08-14   NaN
 2018-11-14   NaN
 Name: 2724, dtype: float64,
 '2018-Q4': date
 2018-11-14   NaN
 2019-04-01   NaN
 Name: 8932, dtype: float64,
 '2019-Q1': date
 2019-04-01   NaN
 2019-05-15   NaN
 Name: 4420, dtype: float64,
 '2019-Q2': date
 2019-05-15   NaN
 2019-08-14   NaN
 Name: 3043, dtype: float64,
 '2019-Q3': date
 2019-08-14   NaN
 2019-11-14   NaN
 Name: 1475, dtype: float64,
 '2019-Q4': date
 2019-11-14   NaN
 2020-03-31   NaN
 Name: 2491, dtype: float64,
 '2020-Q1': date
 2020-03-31   NaN
 2020-05-15   NaN
 Name: 1538, dtype: float64,
 '2020-Q2': date
 2020-05-15   NaN
 2020-08-14   NaN
 Name: 3085, dtype: float64,
 '2020-Q3': date
 2020-08-14   NaN
 2020-11-16   NaN
 Name: 1781, dtype: float64}