In [16]:
from finlab import data
import finlab
from dotenv import load_dotenv
import os
import datetime

def config():
    load_dotenv()


    
config()

finlab.login(str(os.getenv('FINLAB_API')))

輸入成功!

In [2]:
roe = data.get('fundamental_features:ROE稅後')
price_df = data.get('etl:adj_open')

請從 https://ai.finlab.tw/api_token 複製驗證碼:

輸入成功!
之後可以使用以下方法自動登入
import finlab
finlab.login("YOUR API TOKEN")
Due to your status as a free user, the most recent data has been shortened or limited.
Daily usage: 1.3 / 500 MB - fundamental_features:ROE稅後

In [3]:
cleaned_roe = roe.dropna(axis=1)

In [4]:
price_df = data.get('etl:adj_open')
price_df

Daily usage: 17.5 / 500 MB - etl:adj_open

symbol,0015,0050,0051,0052,0053,0054,0055,0056,0057,0058,...,9944,9945,9946,9949,9950,9951,9955,9958,9960,9962
date,,,,,,,,,,,,,,,,,,,,,
2013-01-02,7.55,54.000000,25.750000,32.300000,23.300000,19.500000,11.400000,22.830000,31.590000,32.45,...,16.400000,60.500000,19.000000,20.300000,19.300000,41.000000,29.400000,13.100000,17.250000,12.400000
2013-01-03,7.64,54.900000,26.200000,32.760000,23.290000,19.400000,11.530000,23.050000,32.260000,32.29,...,16.600000,63.400000,19.100000,20.400000,19.300000,42.300000,29.300000,13.700000,17.400000,13.000000
2013-01-04,7.60,54.850000,26.120000,32.400000,23.120000,19.400000,11.480000,23.060000,32.040000,32.20,...,16.650000,66.900000,19.000000,20.200000,19.300000,41.900000,28.900000,13.300000,17.300000,13.050000
2013-01-07,7.60,54.550000,25.900000,32.120000,22.900000,19.350000,11.380000,22.950000,NaN,31.94,...,16.600000,66.800000,19.100000,20.300000,19.400000,41.600000,28.700000,13.250000,17.300000,12.800000
2013-01-08,7.60,54.000000,25.840000,32.000000,22.900000,19.210000,11.390000,22.950000,31.710000,32.06,...,17.250000,65.600000,19.550000,20.000000,19.400000,41.500000,29.000000,13.600000,17.100000,13.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-12-25,NaN,150.576957,54.571764,136.612141,72.902401,35.397279,22.781432,43.590288,82.072648,NaN,...,23.937683,70.829141,31.935945,13.043859,13.241307,120.306749,20.297030,144.214988,NaN,14.296107
2020-12-28,NaN,150.513743,54.685825,135.973767,72.837714,35.256966,22.794339,43.605060,82.072648,NaN,...,23.829613,70.481940,31.837072,13.153471,13.175430,121.397967,20.449257,142.309063,39.199986,14.121941
2020-12-29,NaN,151.778033,55.737719,137.888890,73.290524,35.588616,22.858876,43.959572,82.384909,NaN,...,23.991719,70.481940,31.738199,13.043859,13.175430,120.033944,20.652228,140.403138,43.056759,14.092914
2020-12-30,NaN,151.714818,55.623659,137.888890,73.613960,35.588616,22.858876,43.870944,82.384909,NaN,...,24.045754,70.481940,31.837072,13.043859,13.175430,119.488336,20.347772,139.767830,42.361275,14.281593
2020-12-31,NaN,154.433042,55.851780,141.399950,74.066770,35.920266,23.465520,44.033429,83.894172,NaN,...,24.153825,70.829141,31.935945,13.043859,13.175430,118.533520,20.297030,139.132521,44.637404,14.658952

KeyError: 'symbol'

In [13]:
import pandas as pd

def buy_top_5_roe(df):
    """
    Given a DataFrame of ROE values for each quarter, select the top 5 symbols by ROE for each quarter.
    
    Parameters:
        df (DataFrame): The DataFrame containing ROE values, indexed by date and with stock symbols as columns.
        
    Returns:
        top_5_dict (dict): A dictionary with quarters as keys and lists of top 5 stock symbols as values.
    """
    # Initialize an empty dictionary to store the top 5 stocks for each quarter
    top_5_dict = {}
    
    # Loop through each quarter in the DataFrame index
    for quarter in df.index:
        # Select the data for that quarter
        quarter_data = df.loc[quarter]
        
        # Sort the data in descending order to get stocks with highest ROE first
        sorted_data = quarter_data.sort_values(ascending=False)
        
        # Select the top 5 stock symbols
        top_5_stocks = sorted_data.head(5).index.tolist()
        
        # Store the top 5 stocks in the dictionary
        top_5_dict[quarter] = top_5_stocks
    
    return top_5_dict
a = buy_top_5_roe(cleaned_roe)

In [17]:
for i in a:
    print(i[:4])

2013
2013
2013
2013
2014
2014
2014
2014
2015
2015
2015
2015
2016
2016
2016
2016
2017
2017
2017
2017
2018
2018
2018
2018
2019
2019
2019
2019
2020
2020
2020

In [12]:
price_df['0050'].loc[price_df.index=='2013-01-02']

date
2013-01-02    54.0
Name: 0050, dtype: float64

In [27]:
price_df.index[0]

Timestamp('2013-01-02 00:00:00')

In [ ]:
import datetime

class roe_filter:
    def __init__(self, roe_data, price_data):
        self.roe_data = roe_data
        self.price_data = price_data
        # Assuming 'date' column exists and the start year is the earliest year in the date column
        self.start_year = price_data['date'].min().year
        self.end_year = price_data['date'].max().year
        self.year_range = list(range(self.start_year, self.end_year+1))
        self.season_range = list(range(1, 5))
        self.start_season = roe_data['date'].max().year

    def calculate_profit(self, buy_price, sell_price, shares=100):
        """
        Calculate the profit made from buying and selling a stock.

        Parameters:
            buy_price (float): The price at which the stock was bought.
            sell_price (float): The price at which the stock was sold.
            shares (int): The number of shares bought and sold.

        Returns:
            float: The profit from the transaction.
        """
        return (sell_price - buy_price) * shares

    def buy_top_5_roe_and_calculate_profit(self, roe_df, prices_df):
        """
        Given a DataFrame of ROE values and a DataFrame of stock prices for each quarter,
        select the top 5 symbols by ROE for each quarter and calculate the profit gained.

        Parameters:
            roe_df (DataFrame): The DataFrame containing ROE values, indexed by date and with stock symbols as columns.
            prices_df (DataFrame): The DataFrame containing opening and closing prices for stocks, indexed by date.

        Returns:
            profits_dict (dict): A dictionary with quarters as keys and total profit for top 5 stocks as values.
        """

        for year in self.year_range:
                print(f'{year}年開爬!!')

                #if start_season != 1 start from the start_season
                if self.start_season !=1 and year == self.start_year:
                    #change the season to start from start_season

                    self.season_range = list(range(self.start_season, 5))
                else:
                    #no need to change season range
                    pass
                for season in self.season_range:                
                    if year == self.end_year:
                        if (year == self.year_now - 1) & (season == 4):
                                if datetime.datetime.now() < mar_newInfo_day_B:
                                    print('已爬至歷史最新資料，正常結束。 產出主鍵：年、季度。')
                                    
                                    return self.balance_sheet_dfs, self.income_statements_dfs, self.cash_flow_dfs
                        
                        elif year == self.year_now:
                            checkTool = (mar_newInfo_day, may_newInfo_day, aug_newInfo_day, nov_newInfo_day)
                            for i, newInfo_day in enumerate(checkTool):
                                if (datetime.datetime.now() < newInfo_day) & (season >= i):
                                    print('已爬至歷史最新資料，正常結束。 產出主鍵：年、季度。')

                                    return self.balance_sheet_dfs, self.income_statements_dfs, self.cash_flow_dfs
                    ### main part ###    
                    # func 3 is related
                    self.scrape_all_statement(year, season, headers, mar_newInfo_day_B, mar_newInfo_day, may_newInfo_day, aug_newInfo_day, nov_newInfo_day)
                    ### main part ###
                
                    if (year != self.start_year) & (season == 1):
                        time.sleep(random.uniform(4, 9))
                        print('每逢第一季，休息N秒')
                        
            print('正常結束，無錯誤。 產出主鍵：年、季度。')
            
            
            return self.balance_sheet_dfs, self.income_statements_dfs, self.cash_flow_dfs
        top_5_dict = {}
        profits_dict = {}

        for quarter in roe_df.index:
            quarter_data = roe_df.loc[quarter]
            sorted_data = quarter_data.sort_values(ascending=False)
            top_5_stocks = sorted_data.head(5).index.tolist()
            top_5_dict[quarter] = top_5_stocks

            # Adjusted function call: using self to refer to the method of the class
            actual_date = self.get_newInfo_day(int(quarter[:4]), 3, 31)
            next_date = self.get_newInfo_day(int(quarter[:4]) + 1, 3, 31)

            # Calculate profits for the top 5 stocks
            profit_sum = 0
            for symbol in top_5_stocks:
                # Using 'open_price' and 'close_price' as column names
                buy_price = prices_df.at[actual_date, f"{symbol}_open_price"]
                sell_price = prices_df.at[next_date, f"{symbol}_close_price"]
                profit = self.calculate_profit(buy_price, sell_price)
                profit_sum += profit

            profits_dict[quarter] = profit_sum

        return profits_dict

    def get_newInfo_day(self, y, m, d):
        """
        Adjust the given date to the nearest weekday if it falls on a weekend.

        Parameters:
            y (int): Year
            m (int): Month
            d (int): Day

        Returns:
            datetime: The adjusted date.
        """
        newInfo_day = datetime.datetime(y, m, d)
        if newInfo_day.weekday() == 5:  # Saturday
            newInfo_day += datetime.timedelta(days=2)
        elif newInfo_day.weekday() == 6:  # Sunday
            newInfo_day += datetime.timedelta(days=1)
        return newInfo_day

In [23]:
def calculate_profit(buy_price, sell_price, shares=100):
    """
    Calculate the profit made from buying and selling a stock.

    Parameters:
        buy_price (float): The price at which the stock was bought.
        sell_price (float): The price at which the stock was sold.
        shares (int): The number of shares bought and sold.

    Returns:
        float: The profit from the transaction.
    """
    return (sell_price - buy_price) * shares

def buy_top_5_roe_and_calculate_profit(roe_df, prices_df):
    """
    Given a DataFrame of ROE values and a DataFrame of stock prices for each quarter,
    select the top 5 symbols by ROE for each quarter and calculate the profit gained.

    Parameters:
        roe_df (DataFrame): The DataFrame containing ROE values, indexed by date and with stock symbols as columns.
        prices_df (DataFrame): The DataFrame containing opening and closing prices for stocks, indexed by date.
        
    Returns:
        profits_dict (dict): A dictionary with quarters as keys and total profit for top 5 stocks as values.
    """
    top_5_dict = {}
    profits_dict = {}

    for quarter in roe_df.index:
        quarter_data = roe_df.loc[quarter]
        sorted_data = quarter_data.sort_values(ascending=False)
        top_5_stocks = sorted_data.head(5).index.tolist()
        top_5_dict[quarter] = top_5_stocks
        
        info_days = [get_newInfo_day(int(quarter[:4]), 3, 31),
            get_newInfo_day(int(quarter[:4]), 5, 15),
            get_newInfo_day(int(quarter[:4]), 8, 14),
            get_newInfo_day(int(quarter[:4]), 11, 14)]
        
        info_days_next_year = get_newInfo_day(int(quarter[:4])+1, 3, 31)
        
        #int(quarter[-1])-1 == 第幾個quarter
        actual_date = info_days[int(quarter[-1])-1]
        if (int(quarter[-1])) ==4:
             next_date =info_days_next_year
        else:
             next_date = info_days[int(quarter[-1])]

        # Calculate profits for the top 5 stocks
        profit_sum = 0
        for symbol in top_5_stocks:
            # Assume prices_df has 'open_price' and 'close_price' columns for each stock symbol
            buy_price = prices_df[str(symbol)].loc[price_df.index==actual_date]
            sell_price = prices_df[str(symbol)].loc[price_df.index==next_date]
            profit = calculate_profit(buy_price, sell_price)
            profit_sum += profit
        
        profits_dict[quarter] = profit_sum

    return profits_dict
def get_newInfo_day(y, m, d):
        newInfo_day = datetime.datetime(y, m, d)
        if newInfo_day.weekday() == 5:  # Saturday
            newInfo_day += datetime.timedelta(days=2)
        elif newInfo_day.weekday() == 6:  # Sunday
            newInfo_day += datetime.timedelta(days=1)
        return newInfo_day

# Example usage:
# Assume 'cleaned_roe' is your DataFrame with ROE data and 'stock_prices' is the DataFrame with price data.
profits = buy_top_5_roe_and_calculate_profit(cleaned_roe, price_df)

In [24]:
profits

{'2013-Q1': date
 2013-04-01   NaN
 2013-05-15   NaN
 Name: 5324, dtype: float64,
 '2013-Q2': date
 2013-05-15   NaN
 2013-08-14   NaN
 Name: 2008, dtype: float64,
 '2013-Q3': date
 2013-08-14   NaN
 2013-11-14   NaN
 Name: 5364, dtype: float64,
 '2013-Q4': date
 2013-11-14   NaN
 2014-03-31   NaN
 Name: 2915, dtype: float64,
 '2014-Q1': date
 2014-03-31   NaN
 2014-05-15   NaN
 Name: 2408, dtype: float64,
 '2014-Q2': date
 2014-05-15   NaN
 2014-08-14   NaN
 Name: 8941, dtype: float64,
 '2014-Q3': date
 2014-08-14   NaN
 2014-11-14   NaN
 Name: 8941, dtype: float64,
 '2014-Q4': date
 2014-11-14   NaN
 2015-03-31   NaN
 Name: 5455, dtype: float64,
 '2015-Q1': date
 2015-03-31   NaN
 2015-05-15   NaN
 Name: 1516, dtype: float64,
 '2015-Q2': date
 2015-05-15   NaN
 2015-08-14   NaN
 Name: 2316, dtype: float64,
 '2015-Q3': date
 2015-08-14   NaN
 2015-11-16   NaN
 Name: 2388, dtype: float64,
 '2015-Q4': date
 2015-11-16   NaN
 2016-03-31   NaN
 Name: 6186, dtype: float64,
 '2016-Q1': date
 2016-03-31   NaN
 2016-05-16   NaN
 Name: 5381, dtype: float64,
 '2016-Q2': date
 2016-05-16   NaN
 2016-08-15   NaN
 Name: 9929, dtype: float64,
 '2016-Q3': date
 2016-08-15   NaN
 2016-11-14   NaN
 Name: 8085, dtype: float64,
 '2016-Q4': date
 2016-11-14   NaN
 2017-03-31   NaN
 Name: 3043, dtype: float64,
 '2017-Q1': date
 2017-03-31   NaN
 2017-05-15   NaN
 Name: 3040, dtype: float64,
 '2017-Q2': date
 2017-05-15   NaN
 2017-08-14   NaN
 Name: 6222, dtype: float64,
 '2017-Q3': date
 2017-08-14   NaN
 2017-11-14   NaN
 Name: 6150, dtype: float64,
 '2017-Q4': date
 2017-11-14   NaN
 2018-04-02   NaN
 Name: 3064, dtype: float64,
 '2018-Q1': date
 2018-04-02   NaN
 2018-05-15   NaN
 Name: 3043, dtype: float64,
 '2018-Q2': date
 2018-05-15   NaN
 2018-08-14   NaN
 Name: 5348, dtype: float64,
 '2018-Q3': date
 2018-08-14   NaN
 2018-11-14   NaN
 Name: 2724, dtype: float64,
 '2018-Q4': date
 2018-11-14   NaN
 2019-04-01   NaN
 Name: 8932, dtype: float64,
 '2019-Q1': date
 2019-04-01   NaN
 2019-05-15   NaN
 Name: 4420, dtype: float64,
 '2019-Q2': date
 2019-05-15   NaN
 2019-08-14   NaN
 Name: 3043, dtype: float64,
 '2019-Q3': date
 2019-08-14   NaN
 2019-11-14   NaN
 Name: 1475, dtype: float64,
 '2019-Q4': date
 2019-11-14   NaN
 2020-03-31   NaN
 Name: 2491, dtype: float64,
 '2020-Q1': date
 2020-03-31   NaN
 2020-05-15   NaN
 Name: 1538, dtype: float64,
 '2020-Q2': date
 2020-05-15   NaN
 2020-08-14   NaN
 Name: 3085, dtype: float64,
 '2020-Q3': date
 2020-08-14   NaN
 2020-11-16   NaN
 Name: 1781, dtype: float64}