In [8]:
name = ['嘉明','小美','阿雄']
score_2D = [[100,20,85],[95,99,75],[89,73,92]]
for i in range(3):
    num=0
    for j in range(3):
        num = num+ score_2D[i][j]
    print(f'{name[i]} total score= {num}')

嘉明 total score= 205
小美 total score= 269
阿雄 total score= 254

In [9]:
def factorial(n):
    if n <= 1:
        return 1
    else:
        return n* factorial(n-1)
print(factorial(3))
print(factorial(10))
print(factorial(40))

6
3628800
815915283247897734345611269596115894272000000000

In [10]:
n=3
product = 1
for i in range(n):
    product = (i+1) *product
print(product)

6

In [1]:
print(11**51)

129129938167664848157333145589394151932880352885953011

In [10]:
sum = 0
for i in range(1,7):
        for j in range(1,7):
            if j != i:
        
                for k in range(1,7):
                    if k != j and k!=i:
                        number = i*100 + j *10 + k
                        sum += number
print(sum)

46620

In [9]:
total_sum = 0
for i in range(1, 7):
    for j in range(1, 7):
        if j != i:
            for k in range(1, 7):
                if k != j and k != i:
                    number = i * 100 + j * 10 + k
                    total_sum += number

print(total_sum)

46620

In [13]:
decimal_number = 3456093847523457890
hexadecimal_number = hex(decimal_number)
print(hexadecimal_number)

0x2ff6830b0c0c7b62

In [18]:
string = 'esrevEergnirTsroFtsetelpmisAsisihT'
reversed_string = ''
for i in range(len(string)):
    reversed_string+=string[-i-1]
print(reversed_string)

ThisisAsimpletestForsTringreEverse

In [1]:
from mongo import Mongo
repo = Mongo(db='trading_bot',collection='stock_price')
repo.get_data_by_stock_id('1101')

,Timestamp,stock_id,Trading_Volume,Trading_money,open,max,min,close,spread,Trading_turnover
0,2013-01-02,1101,6374614,248393685,38.95,39.10,38.65,39.00,0.10,1956
1,2013-01-03,1101,9710784,378361218,39.50,39.50,38.75,38.85,-0.15,2412
2,2013-01-04,1101,8682170,338671929,39.40,39.45,38.60,39.00,0.15,3011
3,2013-01-07,1101,5067416,196594008,39.10,39.10,38.65,38.90,-0.10,1500
4,2013-01-08,1101,6454905,249593429,38.90,39.10,38.20,38.50,-0.40,2543
...,...,...,...,...,...,...,...,...,...,...
2555,2023-06-15,1101,12380474,474152763,38.35,38.40,38.20,38.35,0.00,6313
2556,2023-06-16,1101,39153380,1520424959,38.40,39.20,38.30,38.70,0.35,13057
2557,2023-06-19,1101,12887442,499013141,38.75,38.95,38.60,38.70,0.00,6972
2558,2023-06-20,1101,17678920,681580924,38.70,38.75,38.45,38.55,-0.15,5837
2559,2023-06-21,1101,14668506,564793491,38.55,38.75,38.35,38.70,0.15,7432

In [1]:
from mongo import Mongo
repo = Mongo(db='trading_bot', collection='stock_price')
repo.get_data_by_stock_id('1101')

,Timestamp,stock_id,Trading_Volume,Trading_money,open,max,min,close,spread,Trading_turnover
0,2013-01-02,1101,6374614,248393685,38.95,39.10,38.65,39.00,0.10,1956
1,2013-01-03,1101,9710784,378361218,39.50,39.50,38.75,38.85,-0.15,2412
2,2013-01-04,1101,8682170,338671929,39.40,39.45,38.60,39.00,0.15,3011
3,2013-01-07,1101,5067416,196594008,39.10,39.10,38.65,38.90,-0.10,1500
4,2013-01-08,1101,6454905,249593429,38.90,39.10,38.20,38.50,-0.40,2543
...,...,...,...,...,...,...,...,...,...,...
2545,2023-06-01,1101,20325434,768485173,38.05,38.10,37.75,37.75,-0.15,11048
2546,2023-06-02,1101,37641391,1446693145,37.75,38.75,37.75,38.55,0.80,15496
2547,2023-06-05,1101,23588849,918294668,38.75,39.25,38.65,38.85,0.30,11847
2548,2023-06-06,1101,11784017,457351772,38.95,39.05,38.65,38.80,-0.05,8151
2549,2023-06-07,1101,11693000,453587047,38.90,38.95,38.60,38.80,0.00,6220

In [2]:
repo.get_all_data()

,_id,Timestamp,stock_id,Trading_Volume,Trading_money,open,max,min,close,spread,Trading_turnover
0,647943c81e9ba95f6565a94f,2013-01-02,1101,6374614,248393685,38.95,39.10,38.65,39.00,0.10,1956
1,647943c81e9ba95f6565a950,2013-01-03,1101,9710784,378361218,39.50,39.50,38.75,38.85,-0.15,2412
2,647943c81e9ba95f6565a951,2013-01-04,1101,8682170,338671929,39.40,39.45,38.60,39.00,0.15,3011
3,647943c81e9ba95f6565a952,2013-01-07,1101,5067416,196594008,39.10,39.10,38.65,38.90,-0.10,1500
4,647943c81e9ba95f6565a953,2013-01-08,1101,6454905,249593429,38.90,39.10,38.20,38.50,-0.40,2543
...,...,...,...,...,...,...,...,...,...,...,...
1104424,648446c563d4a047df04f74a,2021-08-18,1614,59100,1981360,33.60,34.15,33.30,33.60,0.00,51
1104425,648446c563d4a047df04f74b,2021-08-19,1614,117000,3885150,33.45,33.45,32.90,33.10,-0.50,69
1104426,648446c563d4a047df04f74c,2021-08-20,1614,98180,3264117,33.35,34.20,33.10,33.20,0.10,40
1104427,648446c563d4a047df04f74d,2021-08-23,1614,38272,1284266,33.70,33.70,33.35,33.70,0.50,21
1104428,648446c563d4a047df04f74e,2021-08-24,1614,90087,3042247,33.70,33.95,33.50,33.80,0.10,25