In [1]:
import finlab
from finlab import data
import pandas as pd
import datetime as dt
import numpy as np
import math
from dotenv import load_dotenv
import os
import time
from finlab.backtest import sim
def config():
    load_dotenv()


    
config()

finlab.login(str(os.getenv('FINLAB_API')))

輸入成功!

In [2]:
price_df = data.get('etl:adj_open')
price_df

Due to your status as a free user, the most recent data has been shortened or limited.
Daily usage: 99.2 / 500 MB - etl:adj_open

symbol,0015,0050,0051,0052,0053,0054,0055,0056,0057,0058,...,9944,9945,9946,9949,9950,9951,9955,9958,9960,9962
date,,,,,,,,,,,,,,,,,,,,,
2013-01-02,7.55,54.000000,25.750000,32.300000,23.300000,19.500000,11.400000,22.830000,31.590000,32.45,...,16.400000,60.500000,19.000000,20.300000,19.300000,41.000000,29.400000,13.100000,17.250000,12.400000
2013-01-03,7.64,54.900000,26.200000,32.760000,23.290000,19.400000,11.530000,23.050000,32.260000,32.29,...,16.600000,63.400000,19.100000,20.400000,19.300000,42.300000,29.300000,13.700000,17.400000,13.000000
2013-01-04,7.60,54.850000,26.120000,32.400000,23.120000,19.400000,11.480000,23.060000,32.040000,32.20,...,16.650000,66.900000,19.000000,20.200000,19.300000,41.900000,28.900000,13.300000,17.300000,13.050000
2013-01-07,7.60,54.550000,25.900000,32.120000,22.900000,19.350000,11.380000,22.950000,NaN,31.94,...,16.600000,66.800000,19.100000,20.300000,19.400000,41.600000,28.700000,13.250000,17.300000,12.800000
2013-01-08,7.60,54.000000,25.840000,32.000000,22.900000,19.210000,11.390000,22.950000,31.710000,32.06,...,17.250000,65.600000,19.550000,20.000000,19.400000,41.500000,29.000000,13.600000,17.100000,13.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-12-25,NaN,150.576957,54.571764,136.612141,72.902401,35.397279,22.781432,43.590288,82.072648,NaN,...,23.937683,70.829141,31.935945,13.043859,13.241307,120.306749,20.297030,144.214988,NaN,14.296107
2020-12-28,NaN,150.513743,54.685825,135.973767,72.837714,35.256966,22.794339,43.605060,82.072648,NaN,...,23.829613,70.481940,31.837072,13.153471,13.175430,121.397967,20.449257,142.309063,39.199986,14.121941
2020-12-29,NaN,151.778033,55.737719,137.888890,73.290524,35.588616,22.858876,43.959572,82.384909,NaN,...,23.991719,70.481940,31.738199,13.043859,13.175430,120.033944,20.652228,140.403138,43.056759,14.092914
2020-12-30,NaN,151.714818,55.623659,137.888890,73.613960,35.588616,22.858876,43.870944,82.384909,NaN,...,24.045754,70.481940,31.837072,13.043859,13.175430,119.488336,20.347772,139.767830,42.361275,14.281593
2020-12-31,NaN,154.433042,55.851780,141.399950,74.066770,35.920266,23.465520,44.033429,83.894172,NaN,...,24.153825,70.829141,31.935945,13.043859,13.175430,118.533520,20.297030,139.132521,44.637404,14.658952

In [6]:
df = price_df

q1 = df.quantile(0.10)
q2 = df.quantile(0.5)  # This is the median
q3 = df.quantile(0.75)

# Filter data for each quantile section
section1 = df[df <= q1]
section2 = df[(df > q1) & (df <= q2)]
section3 = df[(df > q2) & (df <= q3)]
section4 = df[df > q3]
section1

ValueError: Can only compare identically-labeled (both index and columns) DataFrame objects